* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  /* align-items: center; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center;  */  /* this breaks the map! */
}

.personal-space {
  padding: 24px;
}

.add-stuff {
  display: flex;
  flex-direction: column;
}