* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: cornsilk; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  /* align-items: center; */
}

.map-container {
  padding: 24px;
  /* border-radius: 16px; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center;  */ /* this breaks the map! */
}

.personal-space {
  padding: 24px;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-stuff-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 64px;
  /* width: 1000px; */
  width: 100%;
}

.add-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.table {
  padding: 24px;
}

input {
  border-radius: 16px;
  padding: 6px;
}

label {
  padding: 6px;
}

button {
  border-radius: 16px;
  padding: 6px;
  max-width: 300px;
}

select {
  border-radius: 16px;
  padding: 6px;
}

.form-row {
  margin: 6px;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  max-width: ;
}

header {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}